body {
  margin: 0;
  padding: 0;
  min-width: 100vh;
  width: 100%;
  height: 100vh;
}
html {
  box-sizing: border-box;
  position: relative;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main_bar {
  padding: 0;
  width: 100%;
  height: 100vh;
}
/*Info blog*/
.info_blog {
  height: 100vh;
}

.waves {
  margin-top: 5%;
  margin-left: 8%;
}
.text {
  margin-left: 30%;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.Mriya {
  width: 311px;
  height: 192px;
  margin-left: 20%;
  margin-top: 10%;
  font-family: "SangBleu Kingdom";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  /* or 100% */
  display: flex;
  align-items: center;
}
.Russia {
  position: absolute;
  width: 500px;
  height: 64px;
  margin-top: -1%;
  margin-left: 6.6%;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  /* Dark */

  color: #3d3c3c;
}

.text_3d {
  position: absolute;
  padding-top: 0.4%;
  padding-left: 4.6%;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #3d3c3c;

  border-radius: 5px;
}
.d {
  margin-left: -15px;
}

.btn_3d {
  display: flex;
  text-align: center;
  margin-top: -12.8%;
  border: 2px solid #bca56a;
  border-radius: 6.5%;
  width: 200px;
  height: 64px;
  margin-left: 70%;
}
.btn_serch:hover {
  background-color: #bca56a;
  color: white;
}
.btn_3d:hover {
  background-color: #bca56a;
  color: white;
}

.btn_serch {
  margin-top: 40%;
  border: 2px solid #bca56a;
  border-radius: 6.5%;
  width: 200px;
  height: 64px;
  margin-left: 20%;
}
.text_serch {
  padding: 5%;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: black;
  border-radius: 5px;
}

/*intro*/
#header_bar {
  width: 100%;
  height: 80px;
  position: relative;
}
.intro {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  margin-left: 0%;
}
/*flower*/
.flower_div {
  float: right;
  padding: 0;
  width: 100%;
  height: 80%;
}
.degree_2 {
  margin-top: 15%;
  margin-left: 10%;
}
.degree {
  margin-left: 10%;
}
.pin {
  margin-left: -60%;
}
.city {
  margin-top: -6%;
  margin-left: -2%;
  margin-left: 38%;
  color: white;
  font-family: "Euclid Circular B";
  font-size: 16px;
  line-height: 32px;
}
.condition {
  margin-top: -7%;
  text-align: center;
  color: white;
  font-family: "Euclid Circular B";
  font-size: 20px;
  line-height: 32px;
}
.weather {
  line-height: 32px;
  margin: 0;
  padding: 0;
  margin-top: -40%;
  margin-left: 30%;
  width: 50%;
  height: 50%;
}
.weather_div {
  z-index: 5;
  position: absolute;
  margin-left: 15%;
  margin-top: -40%;
  width: 85%;
  height: 100%;
}
.img_petal {
  z-index: 5;
  margin-left: 30%;
  margin-top: -120%;
  position: absolute;
  width: 70%;
  height: 20%;
}
/*Top bar*/
.namber {
  width: 117px;
  height: 24px;
  margin-left: 100px;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  margin-top: -24px;
  /* identical to box height, or 171% */

  text-align: right;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #ffffff;
}
.login {
  width: 44px;
  height: 24px;

  left: 23px;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #ffff;
}

/*borger-minu*/
.minu_img{
  margin-top: -0.2%;
  background-color: #3d3c3c;
  width: 80px;
  height: 80px;
}

.burger-menu_button {
  margin-top: -1px;
  position: fixed;
  z-index: 30;
  width: 80px;
  height: 80px;
  background-color: #3d3c3c;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color:  #FFFFFF;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -12px;
}
.burger-menu_lines::after {
  content: '';
  top: 12px;
}


.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #F9AFE9;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_link {
  padding: 18px 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: #BB1E99;
  border-bottom: 1px solid #fff;
}
.burger-menu_link:first-child {
  border-top: 1px solid #fff;
}
.burger-menu_link:hover {
  filter: brightness(0.9);
}
.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
.top {
  position: relative;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background-color: white;
}
.complecs_div {
  z-index: 1;
  position: absolute;
  width: 116px;
  height: 24px;
  left: 10%;
  top: 34px;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.blog_div {
  z-index: 1;
  position: absolute;
  width: 43px;
  height: 24px;
  left: 20%;
  top: 34px;

  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.faq_div {
  z-index: 1;
  position: absolute;
  width: 32px;
  height: 24px;
  left: 25%;
  top: 34px;

  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.contacts_div {
  z-index: 1;
  position: absolute;
  width: 87px;
  height: 24px;
  left: 30%;
  top: 34px;

  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.08em;
  text-transform: uppercase;

  /* Dark */
}
/*Batton*/
.ru_btn {
  position: absolute;
  width: 22px;
  height: 24px;
  left: 60%;
  top: 34px;

  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.08em;
  text-transform: uppercase;

  /* Dark */
}
.eng_btn {
  position: absolute;
  width: 34px;
  height: 24px;
  left: 62%;
  top: 34px;

  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.24);
}

.scrol {
  position: absolute;
  margin-top: 3%;
  margin-left: 6%;
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #d9c287;
}
/*Choes*/
.choice_text {
  position: absolute;
  width: 456px;
  height: 56px;
  left: 6%;
  margin-top: 1%;

  font-family: "SangBleu Kingdom";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #3d3c3c;
}
.choice_div {
  width: 100%;
  max-width: 1440px;
  height: 300px;
}
#booking {
  box-sizing: border-box;
  position: absolute;
  width: 392px;
  height: 64px;
  margin-left: 50.5%;
  top: -8px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
#days {
  box-sizing: border-box;
  position: absolute;
  width: 264px;
  height: 64px;
  left: 28%;
  top: -8px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
#family {
  position: absolute;
  width: 27.6%;
  height: 64px;
  left: 0;
  top: -8px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.nav_minu {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: 80px;
  margin-top: 12%;
  margin-left: 5.6%;
}
/*Images*/
.img_2 {
  z-index: 5;
  width: 50%;
}
.weather_img {
  margin-left: 1%;
  margin-top: -3%;
  width: 99%;
}
.Intersect {
  width: 60%;
  margin-left: 3%;
  margin-top: 3%;
}
.img_face {
  margin-top: 30%;
}
.img_twitr {
  margin-top: 30%;
}
.img_inst {
  margin-top: 30%;
}
.stars_div {
  margin-top: 65px;
  position: relative;
  height: 10px;
  width: 1px;
  background-color: white;
}
.sepline_div {
  top: 83%;
  position: relative;
  width: 100%;
  height: 1px;
}
.sepline {
  margin-left: -10%;
  z-index: 1;
  width: 100%;
  height: 1px;
  top: 83%;
}
.stroka_1 {
  position: relative;
  width: 90%;
  height: 100%;
  transform: translate(10%, -100%);
}
.stroka {
  margin: 0 auto;
  float: right;
  max-width: 70em;
  transform: translate(0, -5%);
}

#flower_1 {
  position: relative;
  z-index: 2;
  float: right;
  margin-left: 100%;
  margin: 0 auto;
  width: 85%;
  height: 100%;
}
.stars {
  position: absolute;
  margin-left: -4px;
  margin-top: 50%;
  transform: translate(0, 0);
  bottom: -3.75%;
}
.lable_div {
  z-index: 1;
  width: 66px;
  height: 80px;
  margin-left: 50%;
}
.lable {
  position: absolute;
  width: 66px;
  height: 56px;
  top: 1px;
}
.open_img {
  position: absolute;
  width: 32px;
  height: 26px;
  left: 24px;
  top: 27px;
}
.key_div {
  margin-top: 2%;
  text-align: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 10px;
  margin-left: 80%;
  color: #ffffff;
}
#key {
  margin-top: 50px;
  margin-left: -30px;
  width: 15px;
  height: 8px;
}
/*links*/

.face_2 {
  text-align: center;
  position: absolute;
  margin-left: 85.69%;
  margin-top: 27.2%;
  box-sizing: border-box;
  z-index: 5;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: white;
}
.face {
  text-align: center;
  margin-left: 85%;
  margin-top: 26.5%;
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 1px solid #d9c287;
}
.twit_2 {
  text-align: center;
  position: absolute;
  margin-left: 85.69%;
  margin-top: 35.7%;
  box-sizing: border-box;
  z-index: 5;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: white;
}
.twit {
  margin-top: 35%;
  position: absolute;
  text-align: center;
  margin-left: 85%;
  z-index: 5;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 1px solid #d9c287;
}
.inst_2 {
  text-align: center;
  position: absolute;
  margin-left: 85.69%;
  margin-top: 43.7%;
  box-sizing: border-box;
  z-index: 5;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: white;
}
.inst {
  margin-top: 43%;
  position: absolute;
  text-align: center;
  margin-left: 85%;
  z-index: 5;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 1px solid #d9c287;
}

.link_soc {
  float: right;
  margin-top: 23%;
  margin-right: 5%;
  width: 64px;
  height: 256px;
}
a {
  text-decoration: none;
  color: #3d3c3c;
}
/*Tabs*/
.contener_tabs {
  margin-top: -3.6%;
  width: 100%;
  height: 700px;
  max-width: 1200px;
}
.tabs {
  font-size: 0;
}
.tabs > input[type="radio"] {
  display: none;
}
.tabs > div {
  margin-left: 3%;
  display: none;
  border-top: 1px solid #e0e0e0;
  padding: 10% 3.7%;
  font-size: 16px;
}
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 {
  display: block;
}
.tabs > label {
  margin-left: 8%;
  margin-top: 7%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 1% 0.67%;
  font-size: 16px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
}
.tabs > label:not(:first-of-type) {
  border-left: 0;
}

.tabs > input[type="radio"]:checked + label {
  background-color: #fff;
  border-bottom: 1px solid #bca56a;
  color: #bca56a;
}
.container_1 {
  width: 360px;
  height: 232px;
  margin-left: -4%;
  margin-top: -8%;
  background-image: url("../images/1.png");
}
.container_2 {
  width: 360px;
  height: 232px;
  margin-left: 33%;
  margin-top: -21%;
  background-image: url("../images/2.png ");
}
.opis_2 {
  position: absolute;
  width: 165px;
  height: 64px;
  margin-left: 1.3%;
  margin-top: 10%;

  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
}

.opis {
  position: absolute;
  width: 165px;
  height: 64px;
  margin-left: 5%;
  margin-top: -10%;

  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #ffffff;

  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
}
.skid {
  position: absolute;
  width: 62px;
  height: 32px;
  margin-left: 6%;
  margin-top: -15%;
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
}
.skid_2 {
  position: absolute;
  width: 62px;
  height: 32px;
  margin-left: 2%;
  margin-top: 7%;
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32);
}
.png {
  position: absolute;
  margin-top: 3.5%;
  width: 50%;
}
.png_2 {
  position: absolute;
  margin-top: 1.2%;
  width: 50%;
}
.fone_2 {
  position: absolute;
  margin-top: 4.3%;
}
